write-kubeconfig-mode: "644"
docker: false
cluster-dns: ["8.8.8.8"]
resolv-conf: "/run/systemd/resolve/resolv.conf"
containerd-config-template: |
[plugins.opt]
    path = "/var/lib/rancher/k3s/agent/containerd"
[plugins.cri]
    stream_server_address = ""
    stream_server_port = "10010"
    enable_selinux = false
    sandbox_image = "rancher/mirrored-pause:3.6"
[plugins.cri.containerd]
    snapshotter = "overlayfs"
    disable_snapshot_annotations = true
[plugins.cri.containerd.runtimes.runc]
    runtime_type = "io.containerd.runc.v2"
