apiVersion: v1
kind: ConfigMap
metadata:
    name: n8n-config
    namespace: n8n
data:
    N8N_HOST: "{{ n8n_host }}"
    DB_TYPE: "postgresdb"
    DB_POSTGRESDB_HOST: "{{ postgres_host }}"
    DB_POSTGRESDB_PORT: "5432"
    DB_POSTGRESDB_DATABASE: "{{ postgres_database }}"
    DB_POSTGRESDB_USER: "{{ postgres_user }}"
