# suggestion: you can generate PAT token to access private repos like that:
# git_repo_url: "https://github_pat_xxx@github.com/your-repo/your-project.git"
git_repo_url: "https://github.com/your-repo/your-project.git"
app_name: "my-app"
docker_image_name: "my-image"
app_namespace: "my-namespace"
ansible_user: "adminuser"
app_domain: "your-domain.com"
app_subdomain: "my-app"
letsencrypt_email: "your-email-for-letsencrypt@yourdomain.com"
# Should match `resource_prefix` in Terraform with `-keyvault` suffix
key_vault_name: "my-keyvault"
postgres_user: "adminuser"
n8n_host: "your.n8n.host.com"
