# suggestion: you can generate PAT token to access private repos like that:
# git_repo_url: "https://github_pat_xxx@github.com/your-repo/your-project.git"
git_repo_url: "https://github.com/your-repo/your-project.git"